@font-face {
  font-family: 'SMB';
  src: local('Super Mario Bros.'), url('assets/SuperMarioBros.ttf') format('truetype');
  font-style: normal;
}

body {
	background: url('assets/wallpaper.jpg');
	background-size: cover;
}

.gauge {
  font-family: 'SMB';
}
